@model MvcApp1.Models.AppFunction
@{
    ViewBag.Title = "CreateConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create AppFunction - Confirm</h2>
@using (Html.BeginForm("CreateConfirm", "AppFunction", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <h4>AppFunction</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.UniqueName)</dt>
            <dd>@Html.DisplayFor(model => model.UniqueName)</dd>
            <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
            <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
            <dt>@Html.DisplayNameFor(model => model.ControllerName)</dt>
            <dd>@Html.DisplayFor(model => model.ControllerName)</dd>
            <dt>@Html.DisplayNameFor(model => model.ActionName)</dt>
            <dd>@Html.DisplayFor(model => model.ActionName)</dd>
            <dt>@Html.DisplayNameFor(model => model.AppFuncLevelId)</dt>
            <dd>@Html.DisplayFor(model => model.AppFuncLevelId)</dd>
            <dt>@Html.DisplayNameFor(model => model.ParentId)</dt>
            <dd>@Html.DisplayFor(model => model.ParentId)</dd>
            <dt>@Html.DisplayNameFor(model => model.SequentialNum)</dt>
            <dd>@Html.DisplayFor(model => model.SequentialNum)</dd>
            <dt>@Html.DisplayNameFor(model => model.IsDisabled)</dt>
            <dd>@Html.DisplayFor(model => model.IsDisabled)</dd>
            <dt>@Html.DisplayNameFor(model => model.IsNavItem)</dt>
            <dd>@Html.DisplayFor(model => model.IsNavItem)</dd>
            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
            <dd>@Html.DisplayFor(model => model.Description)</dd>
        </dl>
    </div>
    @Html.HiddenFor(model => model.UniqueName)
    @Html.HiddenFor(model => model.DisplayName)
    @Html.HiddenFor(model => model.ControllerName)
    @Html.HiddenFor(model => model.ActionName)
    @Html.HiddenFor(model => model.AppFuncLevelId)
    @Html.HiddenFor(model => model.ParentId)
    @Html.HiddenFor(model => model.SequentialNum)
    @Html.HiddenFor(model => model.IsDisabled)
    @Html.HiddenFor(model => model.IsNavItem)
    @Html.HiddenFor(model => model.Description)
    <div class="col-md-offset-2 col-md-10">
        <input id="UiConfirm" name="UiConfirm" type="submit" value="Confirm" class="btn btn-default" />
        <input id="UiBack" name="UiBack" type="submit" value="Back" class="btn btn-default" />
    </div>
}
<p>@Html.ActionLink("AppFunction", "Index") | @Html.ActionLink("Home", "Index", "Home")</p>