@model MvcApp1.Models.AppFunction
@{
    ViewBag.Title = "CreateResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Create AppFunction - Result</h2>
<div>
    <h4>AppFunction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.UniqueName)</dt>
        <dd>@Html.DisplayFor(model => model.UniqueName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
        <dt>@Html.DisplayNameFor(model => model.ControllerName)</dt>
        <dd>@Html.DisplayFor(model => model.ControllerName)</dd>
        <dt>@Html.DisplayNameFor(model => model.ActionName)</dt>
        <dd>@Html.DisplayFor(model => model.ActionName)</dd>
        <dt>@Html.DisplayNameFor(model => model.AppFuncLevelId)</dt>
        <dd>@Html.DisplayFor(model => model.AppFuncLevelId)</dd>
        <dt>@Html.DisplayNameFor(model => model.ParentId)</dt>
        <dd>@Html.DisplayFor(model => model.ParentId)</dd>
        <dt>@Html.DisplayNameFor(model => model.SequentialNum)</dt>
        <dd>@Html.DisplayFor(model => model.SequentialNum)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsDisabled)</dt>
        <dd>@Html.DisplayFor(model => model.IsDisabled)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsNavItem)</dt>
        <dd>@Html.DisplayFor(model => model.IsNavItem)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>
<p>@Html.ActionLink("AppFunction", "Index") | @Html.ActionLink("Home", "Index", "Home")</p>
