@model MvcApp1.Models.User
@{
    ViewBag.Title = "AssignRolesToUserResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Assign Roles To User - Result</h2>
<div>
    <h4>Success to assign roles to user!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.LoginName)</dt>
        <dd>@Html.DisplayFor(model => model.LoginName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsDisabled)</dt>
        <dd>@Html.DisplayFor(model => model.IsDisabled)</dd>
    </dl>
</div>
<div>
    <h4>Assigned Roles:</h4>
    @if (Model.RoleList == null || Model.RoleList.Count < 1)
    {
        <p>No roles.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>@Html.DisplayNameFor(x => Model.RoleList[0].UniqueName)</th>
                <th>@Html.DisplayNameFor(x => Model.RoleList[0].DisplayName)</th>
                <th>@Html.DisplayNameFor(x => Model.RoleList[0].IsDisabled)</th>
            </tr>
            @foreach (var item in Model.RoleList)
            {
                if (item != null && item.IsSelected)
                {
            <tr>
                <td>@Html.DisplayFor(x => item.UniqueName)</td>
                <td>@Html.DisplayFor(x => item.DisplayName)</td>
                <td>@Html.DisplayFor(x => item.IsDisabled)</td>
            </tr>
                }
            }
        </table>
    }
</div>
<p>@Html.ActionLink("User", "Index") | @Html.ActionLink("Home", "Index", "Home")</p>
