@model MvcApp1.Models.User
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.LoginName)</dt>
        <dd>@Html.DisplayFor(model => model.LoginName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
        @*<dt>@Html.DisplayNameFor(model => model.Hash)</dt>
        <dd>@Html.DisplayFor(model => model.Hash)</dd>
        <dt>@Html.DisplayNameFor(model => model.Password)</dt>
        <dd>@Html.DisplayFor(model => model.Password)</dd>*@
        <dt>@Html.DisplayNameFor(model => model.IsDisabled)</dt>
        <dd>@Html.DisplayFor(model => model.IsDisabled)</dd>
        <dt>@Html.DisplayNameFor(model => model.CreatedDt)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedDt)</dd>
        @*<dt>@Html.DisplayNameFor(model => model.CreatedBy)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedBy)</dd>*@
        <dt>@Html.DisplayNameFor(model => model.CreatedByDisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.CreatedByDisplayName)</dd>
        <dt>@Html.DisplayNameFor(model => model.UpdatedDt)</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedDt)</dd>
        @*<dt>@Html.DisplayNameFor(model => model.UpdatedBy)</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedBy)</dd>*@
        <dt>@Html.DisplayNameFor(model => model.UpdatedByDisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.UpdatedByDisplayName)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
@Html.ActionLink("Delete", "Delete", new { id = Model.UserId }) |
@Html.ActionLink("Back to List", "Index")
</p>
