@model MvcApp1.Models.User
@{
    ViewBag.Title = "EditResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Edit User - Result</h2>
<div>
    <h4>Success to edit user!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.LoginName)</dt>
        <dd>@Html.DisplayFor(model => model.LoginName)</dd>
        <dt>@Html.DisplayNameFor(model => model.DisplayName)</dt>
        <dd>@Html.DisplayFor(model => model.DisplayName)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsUpdateHash)</dt>
        <dd>@Html.DisplayFor(model => model.IsUpdateHash)</dd>
        <dt>@Html.DisplayNameFor(model => model.IsDisabled)</dt>
        <dd>@Html.DisplayFor(model => model.IsDisabled)</dd>
        <dt>@Html.DisplayNameFor(model => model.Description)</dt>
        <dd>@Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>
<p>@Html.ActionLink("User", "Index") | @Html.ActionLink("Home", "Index", "Home")</p>
